<%- include("partials/_header.ejs") %>
<div class="contenedorPrincipal">
    <div class="contenedorCarrito">
        <div class="contenedorTarjetasCarrito">
            <% if (data) { %>
                <% for( let index = 0; index < data.length; index++ ) { %>
                    <div class="tarjetaCarrito">
                        <div class="imgContenedorCarrito">
                            <img class="imagenCarrito" src=" <%= data[index].imagenPrenda %>  " alt="Imagen del Carrito">
                        </div>
                        <div class="infoCarrito">
                            <div class="alinear"><h3 class="tituloTarjetaCarrito"><%= data[index].nombrePrenda %></h3>
                                <p class="tituloTarjetaCarrito"> L. <%= data[index].precioPrenda %></p>
                            </div>
                            <p class="textoCarrito"> Descripcion: <%= data[index].descripcionPrenda %></p>
                            <p class="textoCarrito"> Codigo: <%= data[index].idCarrito %></p>
                            <p class="textoCarrito"> Talla: <%= data[index].tallaPrenda %></p>
                            
                            <div class=" alinear">
                                <p class="textoCarrito"> Clasificacion: <%= data[index].clasificacionPrenda %></p>
                                <button class="botonTarjetaCarrito">
                                    <span class="material-icons">delete</span>
                                    <a href="">Quitar del Carrito</a>
                                </button>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
            <div class="informacionPago">
                <div class="tituloTotales">
                    <p>TOTALES</p>
                </div>
                <div class="sumaTotales">
                    <div class="casillaTotales">
                        <p> Nombre Cliente:</p>
                        <p><%= localStorage.getItem('nombreCliente') %></p>
                    </div>
                    <div class="casillaTotales">
                        <p> SubTotal:</p>
                        <p> </p>
                    </div>
                    <div class="casillaTotales">
                        <p> Impuesto:</p>
                        <p> </p>
                    </div>
                    <div class="casillaTotales">
                        <p class="totalAPagar"> Total a Pagar:</p>
                        <p class="totalAPagar"> </p>
                    </div>
                    <div class="contenedorBotonTotalPagar">
                        <button class="botonTotalPagar">
                            <span class="material-icons">
                                attach_money
                                </span>
                            <a href=""> Proceder con el Pago</a>
                        </button>
                    </div>
                </div>
            </div>
    </div>
</div>
    <%- include("partials/_footer.ejs") %>